In [1]:
import requests        # for making http requests to binance
import json            # for parsing what binance sends back to us
import pandas as pd    # for storing and manipulating the data we get back
import numpy as np     # numerical python, i usually need this somewhere 
                       # and so i import by habit nowadays

import matplotlib.pyplot as plt # for charts and such
    
import datetime as dt  # for dealing with times

In [2]:
root_url = 'https://api.binance.com/api/v1/klines'

In [3]:
def get_bars(symbol, interval = '1h', limit=500, starttime='', endtime=''):
    url = root_url + '?symbol=' + symbol + '&interval=' + interval + '&limit=' + str(limit)
    if starttime:
        url = url + '&startTime=' + str(starttime)
    if endtime:
        url = url + '&endTime=' + str(endtime)
    data = json.loads(requests.get(url).text)
    try:
        df = pd.DataFrame(data)
    except:
        raise ValueError(data)
    df.columns = ['open_time',
                  'o', 'h', 'l', 'c', 'v',
                  'close_time', 'qav', 'num_trades',
                  'taker_base_vol', 'taker_quote_vol', 'ignore']
    df.index = [dt.datetime.fromtimestamp(x/1000.0) for x in df.close_time]
    return df

In [4]:
df = get_bars("BNBBTC", interval='15m', limit=1000, starttime=1500004800000, endtime='')

In [5]:
len(df)

1000

In [6]:
df.head()

,open_time,o,h,l,c,v,close_time,qav,num_trades,taker_base_vol,taker_quote_vol,ignore
2017-07-14 04:14:59.999,1500004800000,0.00005000,0.00005300,0.00001000,0.00004000,3148043.00000000,1500005699999,130.30196612,451,2669352.00000000,111.18404497,84396652.45546950
2017-07-14 04:29:59.999,1500005700000,0.00004086,0.00004898,0.00004000,0.00004747,1259082.00000000,1500006599999,56.06023368,305,943579.00000000,41.91450043,84713908.44046950
2017-07-14 04:44:59.999,1500006600000,0.00004747,0.00005480,0.00004747,0.00005348,1468616.00000000,1500007499999,76.15190292,295,1173502.00000000,60.49395309,85284586.80346950
2017-07-14 04:59:59.999,1500007500000,0.00005300,0.00005348,0.00004746,0.00004955,977907.00000000,1500008399999,49.83045683,218,372278.00000000,19.65486654,86413164.78446950
2017-07-14 05:14:59.999,1500008400000,0.00004946,0.00004946,0.00004480,0.00004491,625622.00000000,1500009299999,29.46253842,153,113307.00000000,5.45375234,86369375.53446950

In [7]:
df.tail()

,open_time,o,h,l,c,v,close_time,qav,num_trades,taker_base_vol,taker_quote_vol,ignore
2017-07-24 12:59:59.999,1500900300000,0.00004201,0.00004210,0.00004200,0.00004209,7947.00000000,1500901199999,0.33422454,17,1915.00000000,0.08061958,100045602.28789950
2017-07-24 13:14:59.999,1500901200000,0.00004209,0.00004224,0.00004200,0.00004218,22332.00000000,1500902099999,0.94069304,21,20998.00000000,0.88465282,100040614.28789950
2017-07-24 13:29:59.999,1500902100000,0.00004216,0.00004218,0.00004208,0.00004211,7952.00000000,1500902999999,0.33503502,22,4852.00000000,0.20446648,100048799.28789950
2017-07-24 13:44:59.999,1500903000000,0.00004216,0.00004225,0.00004214,0.00004222,36773.00000000,1500903899999,1.55194888,30,31338.00000000,1.32278706,100048799.28789950
2017-07-24 13:59:59.999,1500903900000,0.00004228,0.00004230,0.00004221,0.00004229,17608.00000000,1500904799999,0.74418614,23,10034.00000000,0.42421623,100048799.28789950

In [8]:
22332.00000000 * 0.00004209

0.93995388

In [9]:
dt.datetime.fromtimestamp(1500000000000/1000).strftime("%A, %B %d, %Y %I:%M:%S")

'Friday, July 14, 2017 02:40:00'

In [10]:
repr(df['open_time'][-1])

'1500903900000'

In [11]:
dfs = []
starttime = 1500004800000

l = 1000
i = 0
while l == 1000:
# for _ in range(5):
    df = get_bars("BNBBTC", interval='15m', limit=1000, starttime=starttime, endtime='')
    dfs.append(df)
    l = len(df)
    starttime = int(df['open_time'][-1]) + 1
    i += 1
    print(i, end='\r')

In [12]:
len(dfs[0])

1000

In [13]:
len(dfs[1])

1000

In [14]:
len(pd.concat(dfs))

84347

In [15]:
len(dfs[-1])

347

In [16]:
huge_df = pd.concat(dfs)

In [17]:
len(huge_df)

84347

In [ ]:
huge_df.to_hdf('binance_data.h5', 'STW')